@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    line-height: 1.6;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:60px ;

}
#search-input{
    width: 30%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 2px;
    font-size: 18px;
    color: #333;


}
#search-button{
    padding:10px 20px;
    background-color: #138065;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 6px rgba(0, 0,0, 0.6);
    font-size: 18px;
    cursor:pointer;
    border-radius: 5px;
    margin-left: 5px;
    
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

    margin:0 auto;
}
.search-result{
    margin-bottom: 20px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0,0, 0.6);
    overflow: hidden;

}
.search-result img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 0.3s;
}
.search-result img:hover{
    opacity: 0.8;
}
.search-result a{
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    display: block;
    padding: 10px;
}
#show-more-button{
    display:block;
    background-color: #138065;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: none;
    border-radius:5px ;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 30px auto;


}
/* .results{
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center;
    justify-content: center; */
#search-result{
    width: 80%;
    margin: 100px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;



}
#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .search-results{
        padding: 25px;
    }
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width:480px) {
    .search-result{
        width: 100%;
    }
}